body {
    background-color: #000000; 
    color: #ff00ff; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quiz-container {
    background-color: #000000 !important;
    border: 2px solid #ff00ff;
    box-shadow: 0 0 15px #ff00ff, inset 0 0 5px #ff00ff; /* Resplandor exterior e interior */
    border-radius: 15px;
    padding: 30px;
}

h3, h4, h5, #question-counter {
    color: #ff00ff !important;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.list-group-item {
    background-color: transparent !important;
    border: 1px solid #ff00ff !important;
    color: #ff00ff !important;
    margin-bottom: 10px;
    border-radius: 8px !important;
    transition: all 0.3s ease;
}

.list-group-item:hover {
    background-color: rgba(255, 0, 255, 0.1) !important;
    box-shadow: 0 0 10px #ff00ff;
    cursor: pointer;
}

.form-check-input {
    background-color: transparent;
    border: 2px solid #ff00ff;
}

.form-check-input:checked {
    background-color: #ff00ff;
    border-color: #ff00ff;
    box-shadow: 0 0 10px #ff00ff;
}

.btn-primary, .btn-outline-secondary {
    background-color: transparent !important;
    color: #ff00ff !important;
    border: 2px solid #ff00ff !important;
    text-shadow: 0 0 5px #ff00ff;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary:hover, .btn-outline-secondary:hover:not(:disabled) {
    background-color: #ff00ff !important;
    color: #000 !important;
    box-shadow: 0 0 20px #ff00ff;
}

.btn-outline-secondary:disabled {
    border-color: #550055 !important;
    color: #550055 !important;
    text-shadow: none;
}

hr {
    border-top: 1px solid #ff00ff;
    opacity: 0.5;
}